{% extends 'base.html' %}


{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">CodingWithMitch Blog</h1>
  <p class="lead">In this course you will learn how to create a blog website using django and all sort of interesting features that come with it.</p>
</div>
<div class="container">
	<div class="d-flex flex-column">
		<h4>Registered Users</h4>
		{% for account in accounts %}
			<p>{{account}}</p>
		{% endfor %}
	</div>
	
</div>


{% endblock content %}